<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>10X Champions</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.eminence.champions</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb316911893389345</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.190017235730-jnela3rr6hbj2ogrlvbuh7s1b6nbgubu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>316911893389345</string>
	<key>FacebookDisplayName</key>
	<string>10X Champions</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>Item 0</key>
	<string>Metropolis-Black.otf</string>
	<key>Item 1</key>
	<string>Metropolis-BlackItalic.otf</string>
	<key>Item 10</key>
	<string>Metropolis-Medium.otf</string>
	<key>Item 11</key>
	<string>Metropolis-MediumItalic.otf</string>
	<key>Item 12</key>
	<string>Metropolis-Regular.otf</string>
	<key>Item 13</key>
	<string>Metropolis-RegularItalic.otf</string>
	<key>Item 14</key>
	<string>Metropolis-SemiBold.otf</string>
	<key>Item 15</key>
	<string>Metropolis-SemiBoldItalic.otf</string>
	<key>Item 16</key>
	<string>Metropolis-Thin.otf</string>
	<key>Item 17</key>
	<string>Metropolis-ThinItalic.otf</string>
	<key>Item 2</key>
	<string>Metropolis-Bold.otf</string>
	<key>Item 3</key>
	<string>Metropolis-BoldItalic.otf</string>
	<key>Item 4</key>
	<string>Metropolis-ExtraBold.otf</string>
	<key>Item 5</key>
	<string>Metropolis-ExtraBoldItalic.otf</string>
	<key>Item 6</key>
	<string>Metropolis-ExtraLight.otf</string>
	<key>Item 7</key>
	<string>Metropolis-ExtraLightItalic.otf</string>
	<key>Item 8</key>
	<string>Metropolis-Light.otf</string>
	<key>Item 9</key>
	<string>Metropolis-LightItalic.otf</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please Give access to your camera for scanning that QR code through it and some reward 10X Champions points are received.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>10X Champions would like to use your microphone (for videos)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please Give access to your gallery for scanning that QR code through it and some reward 10X Champions points are received.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please Give access to your gallery for scanning that QR code through it and some reward 10X Champions points are received.</string>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Metropolis-Black.otf</string>
		<string>Metropolis-BlackItalic.otf</string>
		<string>Metropolis-Bold.otf</string>
		<string>Metropolis-BoldItalic.otf</string>
		<string>Metropolis-ExtraBold.otf</string>
		<string>Metropolis-ExtraBoldItalic.otf</string>
		<string>Metropolis-ExtraLight.otf</string>
		<string>Metropolis-ExtraLightItalic.otf</string>
		<string>Metropolis-Light.otf</string>
		<string>Metropolis-LightItalic.otf</string>
		<string>Metropolis-Medium.otf</string>
		<string>Metropolis-MediumItalic.otf</string>
		<string>Metropolis-Regular.otf</string>
		<string>Metropolis-RegularItalic.otf</string>
		<string>Metropolis-SemiBold.otf</string>
		<string>Metropolis-SemiBoldItalic.otf</string>
		<string>Metropolis-Thin.otf</string>
		<string>Metropolis-ThinItalic.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
