<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510954134533-p2qlbd34hsdm758h7gr8eiljl60tmgd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510954134533-p2qlbd34hsdm758h7gr8eiljl60tmgd2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510954134533-7geq3cdsvhqotnclg99v60d3qpeusjcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUPFOHWCyYkYtrbqRZF30pJn0vtNyfIzA</string>
	<key>GCM_SENDER_ID</key>
	<string>510954134533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eminence.champions</string>
	<key>PROJECT_ID</key>
	<string>xchamp-b52b1</string>
	<key>STORAGE_BUCKET</key>
	<string>xchamp-b52b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510954134533:ios:d58ab92296d305f1ef506c</string>
</dict>
</plist>