<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190017235730-1adf0bbgo553ibo7071g5aal7m94sg5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190017235730-1adf0bbgo553ibo7071g5aal7m94sg5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190017235730-kjq69eflj8h971hq3c2n3n1ijiusvto6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGazkCcKGFYI3uS05Ej1Mz2czs4CsT_Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>190017235730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.championssssss</string>
	<key>PROJECT_ID</key>
	<string>x-champions</string>
	<key>STORAGE_BUCKET</key>
	<string>x-champions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190017235730:ios:f5c4254f40e4ae1084e1cb</string>
</dict>
</plist>